*.iml
.DS_Store
.externalNativeBuild
.cxx
local.properties
/local.properties
/captures
.gradle
.idea
/.gradle/
/.idea/
/app/build/
/build/
/buildSrc/.gradle/
/buildSrc/build/
/core/logger/build/
/core/design-system/build
/core/ktx/kotlin-ktx/build/
/core/ktx/core-ktx/build/
/core/ktx/android-ktx/build/
/core/network/network-client/api/build/
/core/network/network-client/implementation/build/
/core/resources/build/
/core/utils/dependency-injection/build/
/core/utils/image-loader/build/
/core/utils/multithreading/api/build/
/core/utils/multithreading/implementation/build/
/data/product-catalogue/api/build/
/data/product-catalogue/implementation/build/
/domain/product-catalogue/api/build/
/domain/product-catalogue/implementation/build/
/domain/shared/api/build/
/domain/shared/implementation/build/
/model/data/product-catalogue/build/
/model/data/shared/build/
/model/domain/product-catalogue/build/
/model/domain/shared/build/
/model/presentation/shared/build/
/presentation/home-catalogue/build/
/presentation/home-container/build/
/presentation/shared/api/build/
/presentation/shared/implementation/build/
/presentation/navigation/api/build/
/presentation/navigation/implementation/build/
/presentation/splash/implementation/build/

